@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bangers&family=Glory:wght@500&family=Lexend+Peta:wght@600&family=Montserrat+Alternates:ital,wght@1,600&family=Oswald:wght@400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bangers&family=Glory:wght@500&family=Lexend+Peta:wght@600&family=Montserrat+Alternates:ital,wght@1,600&family=Oswald:wght@400;500&family=Roboto+Slab&display=swap');
.code-display-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200vh;
  width: 100%;
}

.CodeDisplay {
  width: 100%;
  max-width: 735px;
  margin-bottom: 20px;
}

.code-display-wrapper h1{
  font-size: 85px;
  -webkit-text-stroke: 2px #ffffff;
  text-shadow: -10px 10px 8px #000000;
  color: #222831;
  letter-spacing: 3.5px;
  font-family: 'Oswald', sans-serif;

}

.code-display-wrapper  p{
  line-height: 40px;
  color: white;
  font-size: 29px;
  text-shadow:5px 3px 5px rgba(0, 0, 0, 0.308),
  5px 8px 13px rgba(0, 0, 0, 0.308),
  5px 18px 23px rgba(0, 0, 0, 0.308);
  font-family: 'Roboto Slab', serif;

}
